body {
  background-color: #f1f1f1;
  padding: 16px;
}

video{
  width: 300px;
  margin: auto;
}

.Container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  
}

.Item {
  display: flex;
  align-items: center;
}

h4{
  opacity: 0.6;
}

button {
  border: 1px solid #026CCF;
  padding: 8px 24px;
  color: #026CCF;
  font-size: 16px;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 25px;
}

button:hover{
  background-color: #026CCF;
  color: white;
}